/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */



.header {
    border-radius: 15px;
    background-color: rgb(167, 167, 181);
    height: 80px;
    margin-left: 320px;
    width: 50%
           
}

button {
    margin-left: 570px;
    margin-top: 40px;
}

h2 {
    margin-left: 50%;
    
}

.carte {
    width: 500px;
    height: 500px;
    background-color: rgb(153, 167, 179); 
    margin-left: 370px;
    border-radius: 15px;
}

